@*//Author: Austin Gorman
    //Purpose: Makes a view for displaying a list of Departments*@

@model IEnumerable<BangazonWebApp.Controllers.Departments>

@{
    ViewData["Title"] = "Departments";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
